:root{
    --primary-color: 1BABE9;
    --button-color: #3373a7;
    --primary-text-color: #344767;
    
}

body{
    margin: 0;
    padding: 0;
    background: #f5f0f0;
    font-family: Arial, Helvetica, sans-serif;
}

h2{
    font-weight: 700;
}

.dropbtn{
    background-color:var(--button-color);
    color: white;
    padding: 12px 15px ;
    font-size: 12px;
    font-weight: 600;
    border: none;
    min-width: 130px;
    cursor: pointer;
    border-radius: 7px;
    margin-right: 15px;
}
.dropdown{
    position: relative;
    display: inline-block;
}
.dropdown-content{
    display: none;
    position: absolute;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgb(0, 0, 0,0.2);
    z-index: 2;
    background-color: white;

}
.dropdown-content a{
    color: var(--primary-text-color);
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}
.dropdown-content a:hover{
    background-color: #e3e6e9;
}
.dropdown:hover .dropdown-content{
    display: block;
}
.dropdown:hover .dropbtn{
    box-shadow: 0px 8px 5px 0px var(--button-color);
}
.navbar-container{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}


nav ul{
    list-style-type: none;
    margin: 0;
    padding: 0;
    margin-left: 40px;

 }
 nav li{
    display: inline;
    float: left;
    padding: 10px;
 }
 nav a{
    display: inline;
    font-weight: 600;
    font-size: smaller;    
 }
 nav a{
    text-decoration: none;
    color: var(--primary-text-color);
 }

 .navbar_{
    background: rgba(255, 255, 255, 0.9);
    margin: 5px 150px 10px 150px ;
    top: 10px;
    border-radius: 10px;
    padding: 15px;
    z-index: 5;
    position: fixed;
 }
 
 .head-container h1{
    font-size: 40px;
    padding: 0px 200px;
}
.head-container h2{
    font-size: 20px;
}
.head-container p{
    font-size: 15px;
}

.hero-btn{
    font-size: 13px;
    font-weight: 550;
    color: black;
    padding: 10px 25px;
    background-color: white;
    border: none;
    border-radius: 5px;
    margin: 5px;

}

.head-container{
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.flip-card {
    background-color: transparent;
    width: 300px;
    height: 300px;
    perspective: 1000px;
    border-radius: 5px;
  }
  
  .flip-card-inner {
    position: relative;
    width: 100%;
    height: 100%;
    text-align: center;
    transition: transform 0.6s;
    transform-style: preserve-3d;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  }
  
  .flip-card:hover .flip-card-inner {
    transform: rotateY(180deg);
  }
  
  .flip-card-front, .flip-card-back {
    position: absolute;
    width: 100%;
    height: 100%;
    border-radius: 10px;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    padding: 60px 30px;
  }
  
  .flip-card-front {
    background-color: #f13a96;
    color: white;
    
  }
  
  .flip-card-back {
    background-color: #f13a96;
    color: white;
    transform: rotateY(180deg);
  }

.card-2 button{
    background-color: white;
    color:var(--primary-text-color);
    border: none;
    border-radius: 5px;
    padding: 10px;
}  
.mask {
    position: absolute;
    background-size: cover;    
    background-position: center; 
    width: 100%;
    height: 650px;
    background: rgb(51, 122, 183,0.4);
    z-index: 1;    
  }


.front-image{
    background-image: url(https://www.actamericancollege.com/assets/img/bg4.png);
    background-repeat: no-repeat;
    background-position: center ; 
    background-size: cover;
    height: 650px;
    width: 100%;
    z-index: 2;
}
.main-content{
    margin: -60px 20px 20px 20px;

    background: rgb(255, 255, 255);
    border-radius: 10px;
    padding: 30px;
    box-shadow: 5px 5px 5px 5px lightgray;
    position: relative;
    z-index: 4;
}

.container-1{
    display: flex;
    background: rgb(255, 255, 255);
    justify-content: space-evenly;
    align-items: center;
    row-gap: 30px;
    column-gap: 60px;
  
}
.card-1{
    padding: 80px;
    min-height: 500px;
    color: var(--primary-text-color);
}
.container-1 h2{
    font-size: xx-large;
}
.card-1-content{
    padding: 0 100px;
}
.card-2 h2{
    text-align: center;
}
.card-2{

    margin-right: 70px;
}
.container-2{
    display: flex;
    justify-content: space-evenly;
    row-gap: 30px;
    column-gap: 60px;
    padding: 50px;
    background-color: rgb(248, 248, 248);
    color: var(--primary-text-color);
}
.card-3{
    border-radius: 30px;
    padding: 30px;
    background-color: white;
    width: 300px;
}
.card-4{
    border-radius: 30px;
    padding: 30px;
    background-color: white;
    width: 300px;
}
.card-5{
    padding: 50px;
}
.container-2 img{
    width: 300px;
    height: 300px;
}
.container-2 a{
    text-decoration: none;
    color: var(--primary-text-color);
}

.container-3{
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    color: var(--primary-text-color);
}
.container-3 img{
    width: 200px;
    height: 200px;
}
.container-3 h2{
    font-size: xx-large;
}
.img-sect-1{
    display: flex;
    justify-content: center;
}
.img-sect-2{
    display: flex;
    justify-content: center;
}

.container-4 img{
    width: 100%;
    height: 200px;
}
.container-4{
    color: var(--primary-text-color);
    margin-top: 200px;
}
.container-4 h2{
    font-size: xx-large;
}
.cont-4-title{
    text-align: center;
}
.c4-sect-1,
.c4-sect-2,
.c4-sect-3,
.c4-sect-4,
.c4-sect-5{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.c4-sect-1-card-2,
.c4-sect-2-card-1,
.c4-sect-3-card-2,
.c4-sect-4-card-1,
.c4-sect-5-card-2{
    padding: 50px;
    width: 50%;
}
.c4-sect-1-card-1,
.c4-sect-2-card-2,
.c4-sect-3-card-1,
.c4-sect-4-card-2,
.c4-sect-5-card-1{
    box-shadow: 5px 5px 5px 5px lightgray;
    border-radius: 10px;
    margin-top: 15px;
    width: 50%;

}


.foot-cont{
    display: flex;
    color: var(--primary-text-color);
    justify-content: space-evenly;
    
    column-gap: 30px;
    padding: 100px 200px 100px 200px;
}
.foot-cont ul{
    list-style-type: none;
    padding-left: 0;
}
.foot-cont a{
    text-decoration: none;
    color: var(--primary-text-color);
}

.right-reserved{
    text-align: center;
    padding-bottom: 30px;
    color: var(--primary-text-color);
}
.foot-cont-1{
    font-weight: 700;
}
.hero{
    z-index: 4;
    padding-top: 150px;
}


@media only screen and  (max-width: 900px) {
    .container-1,
    .container-2,
    .container-3,
    .c4-sect-1,
    .c4-sect-2,
    .c4-sect-3,
    .c4-sect-4,
    .c4-sect-5,
    .foot-cont,
    .navbar-container,
    .img-sect-1,
    .img-sect-2
    {display: block;}
    .navbar{width: 70%;}
  }

  .about_color{
    background-color: #2279C0;
  }
  .act-text-color{
    color: #2279C0;
  }
  
